body {
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.InitialPage {
  margin-top: 100px;
}


.link_yellow,
.link_yellow:visited,
.link_yellow:hover,
.link_yellow:active {
  color: yellow;
  text-decoration: none;
  font-size: 16px;
}

h1 {
  font-size: 48px;
  letter-spacing: 4px;
}

p {
  font-size: 16px;
  margin: 20px;
}

img {
  display: block;
  margin: 30px auto 0 auto;
  width: 400px;
  image-rendering: pixelated;
}

.audio-container {
  margin-top: 40px;
  text-align: center;
}

.audio-container h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: white;
}

.audio-container audio {
  width: 300px;
  margin-bottom: 10px;
}

.audio-description {
  font-size: 14px;
  margin-top: 8px;
  color: #ccc;
}


/* Contenedor con GIF y audio uno al lado del otro */
.gif_audio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 30px;
}

/* Ajustes del GIF */
#gif_audio img {
  width: 120px;
  height: auto;
}



