body {
  background-color: black;
  color: #64ff49;  /* verde */
  font-family: 'Press Start 2P', sans-serif, cursive;
  text-align: left;
}

.Tittle {
  margin-top: 80px;
  text-align: center;
}

/* Buttons */

.color_link,
.color_link:visited,
.color_link:hover,
.color_link:active {
  color: white;
  font-family: 'Press Start 2P', sans-serif, cursive;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
}

a:hover {
  color: yellow;
  cursor: pointer;
}

/* TEXT */

h1 {
  font-size: 48px;
  letter-spacing: 4px;
  text-align: center;
}

p {
  font-size: 16px;
  margin: 20px;
}

/* Image styling */

img {
  display: block;
  margin: 30px auto 0 auto;
  width: 400px;
  image-rendering: pixelated;
}

/* Audio styling */
.audio-container {
  margin-top: 40px;
  text-align: center;
}

.audio-container h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #64ff49;
}

.audio-container audio {
  width: 300px;
  margin-bottom: 10px;
}

.audio-description {
  font-size: 14px;
  margin-top: 8px;
  color: #ccc;
}


/* Lightbox base */
#lightbox {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}

/* Imagen ampliada */
#lightbox-img {
  max-width: none;
  max-height: none;
  width: 80vw;      /* ancho grande */
  height: auto;
  image-rendering: pixelated;

  transform: scale(0.8);
  transition: transform 0.3s ease;
}

/* Estado activo */
#lightbox.active {
  opacity: 1;
  pointer-events: auto;
}

/* Botón cerrar */
#close-lightbox {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #64ff49; /* verde */
  font-size: 24px;
  cursor: pointer;
}

#close-lightbox:hover {
  color: #64ff49;
}

/* Texto principal */

.text-section {
  font-family: 'Share Tech Mono', sans-serif, monospace; /* fuente pixel-art legible */
  font-size: 12px;              /* tamaño de letra cómodo de leer */
  line-height: 1.6;             /* espacio entre líneas para lectura adecuada */
  color: #64ff49;  /* verde */

  margin: 20px auto;            /* separación vertical y centrado */
  padding: 0 20px;              /* espacio interno a los lados */

  max-width: 680px;             /* ancho máximo del texto para buena lectura */
  text-align: left;             /* alineación real a la izquierda */
}

/* Ajuste de párrafos */
.text-section p {
  margin-bottom: 24px;          /* espacio entre párrafos */
}

/* Títulos dentro del texto */
.text-section h2,
.text-section h3 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
}

.secret_text-section {
  font-family: 'Share Tech Mono', sans-serif, monospace;
  font-size: 12px;            
  line-height: 1.6;             
  color: black; 

  margin: 20px auto;            
  padding: 0 20px;         

  max-width: 680px;             
  text-align: left;             
}

/* Ajuste de párrafos */
.secret_text-section p {
  margin-bottom: 24px;          
}

/* Títulos dentro del texto */
.secret_text-section h2,
.secret_text-section h3 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
}

.glitch_secret_text-section{
  font-family: 'Rubik Glitch', sans-serif, cursive;
  font-size: 12px;       
  line-height: 1.6;           
  color: black;

  margin: 6px auto;    
  padding: 0 20px;  

  max-width: 666px;           
  text-align: center;            
}


.glitch_secret_h1-section{
  font-family: 'Rubik Glitch', sans-serif, cursive;
  font-size: 33px;          
  line-height: 1.6;            
  color: black; 

  margin: 6px auto;        
  padding: 0 20px;             

  max-width: 6666px;         
  text-align: center;          
}



.artikle {
  background-color: black;

  font-family: 'Share Tech Mono', sans-serif, monospace; 
  font-size: 12px;             
  line-height: 1.6;            
  color: #64ff49;  

  margin: 20px auto;            
  padding: 0 20px;            

  max-width: 680px;          
  text-align: left;          
  border: green 5px solid;
}

.artikle p {
  margin-bottom: 24px;      
}

.artikle h1 {
  margin-top: 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.glitch_secret_text-section_link,
.glitch_secret_text-section_link:visited,
.glitch_secret_text-section_link:hover,
.glitch_secret_text-section:active {
  font-family: 'Rubik Glitch', sans-serif, cursive;
  color: black;
  text-decoration: none;
  text-align: center;
}

.detektor {
  font-family: 'Press Start 2P', sans-serif, monospace;
  font-size: 32px;             
  line-height: 1.6;            
  color: #64ff49;  

  margin: 20px auto;            
  padding: 0 20px;            

  max-width: 680px;          
  text-align: center;
}

.detektor h2 {
  font-family: 'Press Start 2P', sans-serif, cursive;
  color:  #64ff49;
  font-weight: bold;
  font-size: 45px;
  margin-top: 40px;
  margin-bottom: 12px;
}

.detektor input{
  background-color: transparent;
  color: #64ff49;
  font-family: 'Press Start 2P', sans-serif, cursive;
  font-size: 16px;
  border: 2px solid #64ff49;
  padding: 10px;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
}

.detektor input:focus,
.detektor input:hover,
.detektor input:active {
  outline: none;
  border-color: #64ff49;
  box-shadow: 0 0 5px #64ff49;
}

.detektor input::placeholder {
  color: #64ff49;
  opacity: 0.7;
}

.detektor input:disabled {
  background-color: transparent;
  border-color: #64ff49;
  color: #64ff49;
  opacity: 0.5;
  cursor: not-allowed;
}

.detektor button{
  background-color: transparent;
  color: #64ff49;
  font-family: 'Press Start 2P', sans-serif, cursive;
  font-size: 16px;
  border: 2px solid #64ff49;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}