body {
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.Tittle {
  margin-top: 80px;
}


.link_yellow,
.link_yellow:visited,
.link_yellow:hover,
.link_yellow:active {
  color: yellow;
  text-decoration: none;
  font-size: 16px;
}

h1 {
  font-size: 48px;
  letter-spacing: 4px;
}

p {
  font-size: 16px;
  margin: 20px;
}

img {
  display: block;
  margin: 30px auto 0 auto;
  width: 400px;
  image-rendering: pixelated;
}

.audio-container {
  margin-top: 40px;
  text-align: center;
}

.audio-container h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: white;
}

.audio-container audio {
  width: 300px;
  margin-bottom: 10px;
}

.audio-description {
  font-size: 14px;
  margin-top: 8px;
  color: #ccc;
}

/* Lightbox base */
#lightbox {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}

/* Imagen ampliada */
#lightbox-img {
  max-width: none;
  max-height: none;
  width: 80vw;      /* ancho grande */
  height: auto;
  image-rendering: pixelated;

  transform: scale(0.8);
  transition: transform 0.3s ease;
}

/* Estado activo */
#lightbox.active {
  opacity: 1;
  pointer-events: auto;
}

/* Botón cerrar */
#close-lightbox {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

#close-lightbox:hover {
  color: yellow;
}


.text-section {
  font-size: 14px;      /* tamaño de fuente */
  line-height: 1.6;     /* altura de línea para mejor lectura */
  color: white;         /* color del texto */
  margin: 20px auto;    /* separación alrededor del bloque */
  max-width: 1000px;     /* opcional: ancho máximo para que no se extienda demasiado, base 800 * )/
  text-align: left;     /* opcional: alineación a la izquierda */
}


