body {
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.InitialPage {
  margin-top: 100px;
}

.link_yellow{
  color: yellow;
  text-decoration: none;
  font-size: 16px;
}

.link_yellow:hover {
  text-decoration: underline;
}

h1 {
  font-size: 48px;
  letter-spacing: 4px;
}

p {
  font-size: 16px;
  margin: 20px;
}

img {
  margin-top: 30px;
  width: 400px;
  image-rendering: pixelated;
}




